@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    transition: all .2s linear;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1% 2% 0.5% 2%;
    position: fixed;
    z-index: 1000;
    left: 0%;
    right: 0%;
}

header .logo{
    color: #cf2d71;
    font-size: 35px;
    text-decoration: none;
    font-weight: bolder;
}

#nav-links{
    padding-top: 12.5px;
}
#nav-links ul {
    display: flex;
    justify-content:space-around;
    align-items: center;
    align-content: center;
}

#nav-links li a, .content a{
    padding: 9px 25px;
    border-radius: 10px;
    transition: all 0.4s ease 0s;
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;   
    background-color: white;
}
#nav-links li a:hover, .content a:hover{
    transition: all 0.4s ease 0s;
    color: white;
    background-color:#a30447d7 ;
}

#nav-links li{
    list-style: none;
    padding: 0px 3px;
}
#menu-bars{
    color: #cf2d71;
    font-size: 35px;
    padding-left: 25px;
    cursor: pointer;
    display:none;
    /* position: absolute; */
    /* padding-right: px; */
}

/* Home */

.home{
    
    background: url(/Images/backrnds.jpg) no-repeat center;
    background-size: cover;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    display:flex; 
    position: relative;
}

.home .content{
    text-align: center;
}

.content h1{
    color: white;
    font-size: 50px;
    font-weight: bolder;
}
.content span, .wel span, .slide span, .teams span, .contact span{
    color: #27e40f;
}
.content p{
    padding: 2% 10% 5% 10%;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.wel{
    padding: 4% 10% 5% 10%;
    background-color: white;
    position: relative;
}
.wel h1,.projects h1 {
    text-align: center;
    color: black;
    font-size: 50px;
    font-weight: bolder;
}
 .wel .pa{
     display: flex;
     /* flex-wrap: wrap; */
     justify-content: space-between;
 }
 .wel .pa .left{
     padding: 5% 2%;
     font-weight: bold;
 }

 /* Projects */
 .projects{
    padding: 5%;
 }
 .pro-cards{
    display: flex;
    justify-content: space-around;
    gap: 5px;
    /* flex-wrap: wrap ; */
    padding-top: 3%;
    padding-bottom: 5%;
    /* flex:1 1 300px; */
 }
 .pro-cards .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* width: 15%; */
    border-radius: 15px;
    
 }
 .pro-cards .card img{
     border-radius: 15px;
 }
 .pro-cards .card .card-contain{
    word-wrap: break-word;
    padding: 2px 16px;
    border-radius: 15px;
 }
 .pro-cards .card .card-contain a{
     color: black;
     text-decoration: none;
     font-weight: bold;
     transition: all 0.4s ease 0s;
 }
 .pro-cards .card .card-contain a:hover{
    transition: all 0.4s ease 0s;
    color: #cf2d71;
 }
 .pro-cards .card .card-contain h2{
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: left;
 }
 .slide{
     position: relative;
     width: 100%;
     height: 80vh;
 }
 .slide h1, .price h1, .teams h1, .contact h1{
     /* padding: 5% 0 2% 0; */
     padding-top: 2%;
     padding-bottom: 2%;
    text-align: center;
    color: black;
    font-size: 50px;
    font-weight: bolder;
 }
 .slide video{
     position: absolute;
     left: 0%;
     right: 0%;
     width: 100%;
     height: 100%;
     object-fit: cover;
     /* border-radius: 20px; */
     box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
 }
 .slide #img-slider{
    position: absolute;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 85%;
    background-size: cover;
    /* border-radius: 20px; */
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
 }

 .slide .nav{
     position: absolute;
     bottom: 5px;
     left: 50%;
     transform:translateX(-50%);
     z-index: 10;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .slide .nav li{
     list-style: none;
     cursor: pointer;
     margin:0px 10px;
     border-radius: 4px;
     background: #fff;
     padding: 3px 3px 0px;
     background-color:rgba(255, 255, 255, 0.699) ;
     z-index: 5;
     transition: 0.5s;
 }
 .slide .nav li:hover{
    background-color:white ;
     box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
 }
 .slide .nav li img{
     width: 120px;
     transition: 0.5s;
 }
 .slide .nav li img:hover{
    width: 200px;
 }


/* Price & Blog */
 .price{
     padding: 4% 10% 5% 10%;
     background-color: white;
     position: relative;
 }
 .price .pr-card{
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap ; */
    padding-top: 3%;
    padding-bottom: 5%;
    /* flex:1 1 300px; */
    align-items: center;
    /* align-content: center; */
 }

 .price .pr-card .card{
     text-align: center;
    word-wrap: break-word;
    padding: 2px 16px;
    border-radius: 15px;
 }
 .price .pr-card .card h2{
     text-align: center;
    color: #cf2d71;
    padding-bottom: 4px;
 }
 .price .pr-card .card p{
     text-align: center;
     padding: 4px;
 }

 .price .pr-card .card a,.cont .right a{
    /* padding-left: 25%;   */
    padding-top: 20px;
    color: black;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.4s ease 0s;
 }
 .price .pr-card .card a:hover,.cont .right a:hover{
    transition: all 0.4s ease 0s;
    color: #cf2d71;
 }

 /* Teams */
 .teams{padding: 5%;}

.teams .grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    background-color: white;
    padding: 10px;
}

.grid .con{
    text-align: center;
}
.grid .con img{
    width: 120px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.icon{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.icon a{
    text-decoration: none;
    color: black;
    size: 20px;
    text-align: center;
}
.icon a:hover{
    transition: all 0.4s ease 0s;
    color: #cf2d71;
}

/* Contact */
.contact {
    padding: 5%;
}

.cont {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    gap: 5px;
    
}
.cont .left{
    flex: 1 1 150px;
}
.cont .left iframe{
    border: 2px rgb(0, 0, 0);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.cont .right{

    flex: 1 1 200px;
}

.cont .right .inputbox{
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 5px;
}

.cont .right .inputbox input{
    padding: 15px 20px;
    /* border: #cf2d71 2px; */
    
    flex: 1 1 200px;


}
.cont .right textarea{
    width: 100%;
    
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}   

/* Footer */
footer{
    background-color: #eee;
    padding: 5%;
}

.fo-con{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3%;
}

.fo-con .card{
    line-height: 40px;
}
.fo-con .card h2{
    color: #cf2d71;
}
.fo-con .card li{
    list-style: none;
}

.fo-con .card li a{
    text-decoration: none;
    transition: all 0.4s ease 0s;
    color: black;
}
.fo-con .card li a:hover{
    transition: all 0.4s ease 0s;
    color: #cf2d71;
}


/* media queries */
@media (max-width:762px){
    #menu-bars{
        display:block;
        /* justify-self:right; */
    }
    #nav-links{
        display:none;
        flex: 1;
    }
   header{
        /* flex-wrap: wrap; */
       /* flex-direction: column; */
       align-items:flex-start;
       justify-content: space-between;
       /* flex-grow: 3; */
       
   }
   #nav-links ul{
       width: 100%;
       flex-direction: column;
       align-items: center;
       /* align-self: flex-end; */
       padding-top: 10%;
       
   }
   #nav-links li{
       padding:3%;
       
   }
   #nav-links li a{
       text-align: center;
   }
   
   
   #nav-links.active{
       display:flex;
   }
}
@media (max-width:670px){

    html{
        font-size:70%;
    }

    #nav-links li a{
        padding: 4px 16px;
    }

    header .logo, #menu-bars{
    font-size: 28px ;
    }

    .pro-cards,.wel .pa{
        flex-wrap:wrap;
    }

    .wel h1,.projects h1,.content h1,.slide h1,.price h1, .teams h1{
        font-size:40px;
    }
    .content p{
        font-size: 20px;
    }
    .wel .pa .right img{
        width: 200px;
        align-items: center;
        /* margin-left: 20%; */
    }
    .wel .pa {
        justify-content: space-around;
    }
    .pro-cards .card img{
        height: 60%;
    }
    .pro-cards .card .card-contain{
        padding: 2px 10px;
    }
    .slide{
        height: 30vh;
    }
    .slide .nav li img{
        width: 40px;
        transition: 0.5s;
    }
    .slide .nav li img:hover{
        width: 60px;
     }
     .teams .grid{
        grid-template-columns: auto auto;
     }
}

@media (max-width:282px)
{
    .grid .con img{
        width: 90px;
    }
    .price .pr-card{
        flex-wrap: wrap;
    }
}
@media(max-width:450px)
{
    .price .pr-card .card>img{
        width: 75px;
    }
}
