
*{
    padding: 10px;
    margin: 3px;
}
body  {
    background-image: url("im.webp");
    background-color: #3e0f42;
    background-repeat: no-repeat;
    background-size: 100%;
  }

.topnav a {
  float:right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: serif ;
}

.topnav a:hover {
  background-color: rgb(173, 24, 153);
  color: rgb(0, 0, 0);
}

.topnav a.active {
  background-color: #af4c8e;
  color: rgb(255, 255, 255);
}
.name{
    padding-top: 2cm;
    font-size: 2cm;
    font-family: fantasy;
    font-weight: 300;
    color: azure;
    padding-left: 1cm;

}
.subtopic{
    font-size: 1.5cm;
    padding-left: 1cm;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    color: rgb(159, 131, 160);
    

}

.intro{
    font-size: 0.5cm;
    padding-left: 1cm;
    padding-top: 3.75cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    color: rgb(230, 185, 231);   
}

.latest{
    font-size: 1cm;
    padding-left: 1cm;
    padding-top: 0.75cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    color: rgb(230, 185, 231);  
}

.locate{
    
    font-size: 0.5cm;
    padding-left: 1cm;
    padding-top: 0.75cm;
    font-family:initial;
    font-weight: 300;
    text-align: left;
    color: rgb(71, 123, 236);  
}

.locate button :hover{
    background-color: rgb(49, 49, 168);
    
}


  
 
  