@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  font-family: "Poppins";
}
#submit {
  border-radius: 5px;
}
body {
  background-image: url("assets/5333978.jpg");
  background-size: cover;
}
#btn {
  border-radius: 5px;
  background-color: #7fc8a9;
}
#cntct {
  width: 200px;
}
#dob {
  width: 200px;
}
h2 {
  margin-left: 30px;
  margin-top: 50px;
  color: white;
}
h3 {
  color: #7fc8a9;
  text-align: center;
}
#mail {
  width: 200px;
}
#name {
  width: 200px;
}
.main {
  width: 500px;
  border: 10px solid #d5eebb;
  padding: 50px;
  margin: 20px;
  position: absolute;
  color: white;
  background-color: #444941;

  border-radius: 5%;
  top: 50%;
  transform: translate(75%, -50%);
}

#search {
  border-radius: 5px;
}
h1 {
  text-align: center;
}
.conatiner {
  /* background-color: red; */
  margin-left: 140px;
}

label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input {
  border-radius: 8px;
}
